<%- include _header.ejs %>

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<div class="container body-content">

	<div class="panel panel-success">
		<div class="panel-heading">User Account Details</div>
		<div class="panel-body">

			<div class="form-group">
				<label class="control-label" for="disabledInput">User Id</label>
				<input class="form-control" id="disabledInput" type="text" placeholder="<%= user.oid %>" readonly>
			</div>
			<div class="form-group">
				<label class="control-label" for="disabledInput">Email</label>
				<input class="form-control" id="disabledInput" type="text" placeholder="<%= user.emails[0] %>" readonly>
			</div>
			<div class="form-group">
				<label class="control-label" for="disabledInput">Display Name</label>
				<input class="form-control" id="disabledInput" type="text" placeholder="<%= user.displayName %>" readonly>
			</div>
			<div class="form-group">
				<label class="control-label" for="disabledInput">Full Details</label>
				<pre class="prettyprint"><%- JSON.stringify(user, null, 2) %></pre>
			</div>			
		</div>
	</div>

</div>

<%- include _footer.ejs %>